[Unit]
Description=Domoticz SMS handler
After=multi-user.target
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/domoticzSms.py
Restart=on-abort
[Install]
WantedBy=multi-user.target